{% extends "shared/base.html" %}


{% block title %}
<title>get new job alerts in your email</title>
{% endblock %}

{% block content %}


{% if jobs%}
<div></div>
{% else %}
<div style="height: 55vh; background-color:rgb(236, 237, 232); background-size: cover; background-position: center;"
     class="position-relative w-100">
    <div class="position-absolute text-dark d-flex flex-column align-items-center justify-content-center"
         style="top: 0; right: 0; bottom: 0; left: 0;">
        <span>Looking for a Job? Get Daily Job Alerts by Email!</span>
        <h4 class="mb-4 mt-2 font-weight-bold text-center">Your Personal Job Search Assistant</h4>

        <div class="col-lg-6">
            <form action="/search/">
                <div class="p-1 bg-light rounded rounded-pill shadow-sm">
                    <div class="input-group">
                        <input style="border-radius: 30px;" type="search" name="query" value="{{query}}"
                               placeholder="Finance jobs in Hargeisa"
                               aria-describedby="button-addon1" class="form-control border-0 bg-light">
                        <div class="">
                            <button id="" type="submit" class="btn btn-link text-primary"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- End -->


        </div>


        <!-- hover background-color: white; color: black; -->
        <!--      <a href="#" id="filled" class="btn px-5 py-3 text-white mt-3 mt-sm-0 mx-1" style="border-radius: 30px; background-color: #9B5DE5;">Get Started</a>-->
        <!--      &lt;!&ndash; hover background-color: #9B5DE5; color: white; &ndash;&gt;-->
        <!--      <a href="#" id="outlined" class="btn px-5 py-3 text-white mt-3 mt-sm-0 mx-1" style="border-radius: 30px; border:1px solid #9B5DE5;">Showcases</a>-->
    </div>
</div>
</div>
<!--<div class="row p-3" style="background-color: rgb(236, 237, 232)">-->
<!--    <hr>-->
<!--    <div class="">-->
<!--        <div class="row">-->
<!--            <div class="col-sm mb-2">-->
<!--                <div class="card">-->
<!--                    <h6 class="card-subtitle  text-muted">New Jobs Alert! Why spend hours searching through job boards-->
<!--                        when you can receive daily alerts? </h6>-->
<!--                    <p class="card-body small ">-->

<!--                        Navigating multiple career websites and job-->
<!--                        boards to check all new job postings can be exhausting. Save your time and create variety by-->
<!--                        subscribing to Diractly's email job alert service. Diractly will get every single new job across-->
<!--                        multiple job boards, filter out the noise and send you an alert with just the jobs that match-->
<!--                        your custom search!<br>-->

<!--                        → All career types - full time/part time/contract/freelance (for individuals and creative-->
<!--                        agencies)<br>-->

<!--                        → 7 days a week – whatever your schedule require, we-->
<!--                        have it covered</p>-->
<!--                </div>-->


<!--            </div>-->

<!--            <div class="col-sm mb-2">-->
<!--                <div class="card">-->
<!--                    <img class="img-fluid " src="{{ url_for('static', path='imgs/diractly_alert.png')}}"-->
<!--                         alt=""/>-->
<!--                </div>-->


<!--            </div>-->
<!--            <div class="col-sm">-->
<!--                <div class="card">-->
<!--                    <h6 class="card-subtitle  text-muted">Get daily job alerts about new jobs in your area</h6>-->
<!--                    <p class="small card-body">-->

<!--                        → Saves you time in finding new jobs via email<br>-->

<!--                        → find the latest job postings from multiple sources from one place<br>-->

<!--                        → Customise alerts based on your search criteria </p>-->
<!--                </div>-->

<!--            </div>-->

<!--        </div>-->
<!--        &lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--        &lt;!&ndash;        <div class="col-lg-4">&ndash;&gt;-->
<!--        &lt;!&ndash;            <h5 class="mb-4">Save time and effort</h5>&ndash;&gt;-->
<!--        &lt;!&ndash;            <p class="small ">Spare yourself from the trouble of having to regularly browse job boards&ndash;&gt;-->
<!--        &lt;!&ndash;                and career pages to check new job postings,&ndash;&gt;-->
<!--        &lt;!&ndash;                Diractly will do the hard work of job hunting for you&ndash;&gt;-->
<!--        &lt;!&ndash;                and email a daily digest of new jobs that match your saved job alert..</p>&ndash;&gt;-->

<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        <div class="col-lg-4">&ndash;&gt;-->
<!--        &lt;!&ndash;            <h5 class="mb-4">Save time and effort</h5>&ndash;&gt;-->
<!--        &lt;!&ndash;            <p class="small ">Spare yourself from the trouble of having to regularly browse job boards&ndash;&gt;-->
<!--        &lt;!&ndash;                and career pages to check new job postings,&ndash;&gt;-->
<!--        &lt;!&ndash;                Diractly will do the hard work of job hunting for you&ndash;&gt;-->
<!--        &lt;!&ndash;                and email a daily digest of new jobs that match your saved job alert..</p>&ndash;&gt;-->

<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        <div class="col-lg-4">&ndash;&gt;-->
<!--        &lt;!&ndash;            <h5 class="mb-4">Save time and effort</h5>&ndash;&gt;-->
<!--        &lt;!&ndash;            <p class="small ">Spare yourself from the trouble of having to regularly browse job boards&ndash;&gt;-->
<!--        &lt;!&ndash;                and career pages to check new job postings,&ndash;&gt;-->
<!--        &lt;!&ndash;                Diractly will do the hard work of job hunting for you&ndash;&gt;-->
<!--        &lt;!&ndash;                and email a daily digest of new jobs that match your saved job alert..</p>&ndash;&gt;-->

<!--        &lt;!&ndash;        </div>&ndash;&gt;-->

<!--        &lt;!&ndash;    </div>&ndash;&gt;-->


<!--    </div>-->
<!--</div>-->

<!--<div class="row p-5 text-center align-items-center"-->
<!--     style="background-color: rgb(238, 95, 0);  color:white;">-->

<!--      <div class="row"> <h5 class="mb-4" style="font-size: 2.2rem;font-weight: 600">Your Personal Job Search Assistant</h5></div>-->
<!--    <div class="col-lg-3"></div>-->

<!--           <div class="col-lg-5">-->
<!--            <form action="/search/" id="searchform">-->
<!--                        <input type="search" name="query" value="{{query}}"-->
<!--                               placeholder="Job title, keywords,organization or location"-->
<!--                               aria-describedby="button-addon1" class="form-control mb-2">-->
<!--            </form>-->
<!--        </div>-->
<!--        <div class="col-lg-1">-->
<!--            <button id="button-addon1" type="submit" class="btn btn-dark form-control " form="searchform">Search </button>-->
<!--        </div>-->


<!--&lt;!&ndash;    <div class="col-lg-6">&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash;        <h5 class="" style="font-size: 2.2rem;font-weight: 600">Your Personal Job Search Assistant</h5>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;        <p class="small">Spare yourself from the trouble of having to regularly browse job boards&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;            and career pages to check new job postings,&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;            somjobsalert will do the hard work of job hunting for you&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;            and email a daily digest of new jobs that match your saved job alert..</p>&ndash;&gt;&ndash;&gt;-->


<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--</div>-->


<!--            <div class="col-lg-6">-->
<!--                <img class="img-fluid shadow" src="{{ url_for('static', path='imgs/somjobsalert_sample.png')}}" alt=""/>-->
<!--            </div>-->
<!--</div>-->
{% endif %}


<div class="">
<!--    <div class="row">-->
<!--        <h5 class="display-5"></h5>-->
<!--        <div class="text-danger font-weight-bold">-->
<!--            {% for error in errors %}-->
<!--            <li>{{error}}</li>-->
<!--            {% endfor %}-->
<!--        </div>-->

<!--    </div>-->

    <!--    <div class="row my-5"  style="background-color:#00a6ff21">-->
    <!--        <div class="col-md-8">-->
    <!--            <div class="">-->
    <!--                <div class="card-body">-->
    <!--                    <div class="card-title">-->
    <!--                        <h1 class="mb-4">Put your job search on auto-pilot</h1>-->
    <!--                    </div>-->
    <!--                    <div class="row">-->
    <!--                        <div class="col-md-6 col">-->
    <!--                            <p class="small color-text">Use job title, keywords,-->
    <!--                                organization or location to search jobs and set up daily job alerts based on your-->
    <!--                                search.-->
    <!--                                We will crawl all your favourite job posting sites and match you with relevant jobs-->
    <!--                                using advanced Machine Learning technology </p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-md-4" >-->
    <!--            <div  class="card"style="background-color:#00a6ff21">-->
    <!--                <div class="card-body">-->
    <!--                     <img src="{{ url_for('static', path='imgs/rsz_11samplelert.png')}}" alt="">-->
    <!--                </div>-->
    <!--            </div>-->

    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="row mb-5">-->
    <!--        &lt;!&ndash;        <div class="spinner-border" role="status">&ndash;&gt;-->
    <!--        &lt;!&ndash;            <span class="sr-only">Loading...</span>&ndash;&gt;-->
    <!--        &lt;!&ndash;        </div>&ndash;&gt;-->
    <!--        &lt;!&ndash;        <div class="col-lg-8 mx-auto">&ndash;&gt;-->
    <!--        &lt;!&ndash;            <div class="rounded">&ndash;&gt;-->
    <!--        &lt;!&ndash;                <form action="/search/">&ndash;&gt;-->
    <!--        &lt;!&ndash;                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">&ndash;&gt;-->
    <!--        &lt;!&ndash;                        <div class="input-group">&ndash;&gt;-->
    <!--        &lt;!&ndash;                            <input type="search" name="query" value="{{query}}"&ndash;&gt;-->
    <!--        &lt;!&ndash;                                   placeholder="Job title, keywords,organization or location"&ndash;&gt;-->
    <!--        &lt;!&ndash;                                   aria-describedby="button-addon1" class="form-control border-0 bg-light">&ndash;&gt;-->
    <!--        &lt;!&ndash;                            <div class="input-group-append">&ndash;&gt;-->
    <!--        &lt;!&ndash;                                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i&ndash;&gt;-->
    <!--        &lt;!&ndash;                                        class="fa fa-search"></i></button>&ndash;&gt;-->
    <!--        &lt;!&ndash;                            </div>&ndash;&gt;-->
    <!--        &lt;!&ndash;                        </div>&ndash;&gt;-->
    <!--        &lt;!&ndash;                    </div>&ndash;&gt;-->
    <!--        &lt;!&ndash;                </form>&ndash;&gt;-->
    <!--        &lt;!&ndash;                &lt;!&ndash; End &ndash;&gt;&ndash;&gt;-->
    <!--        &lt;!&ndash;            </div>&ndash;&gt;-->
    <!--        &lt;!&ndash;        </div>&ndash;&gt;-->
    <!--    </div>-->
    <!--    <div class="row height d-flex justify-content-center align-items-center">-->
    <!--        <div class="col-md-8">-->
    <!--            <form class="form-inline" action="/search/">-->
    <!--                <div class="search">-->
    <!--                    &lt;!&ndash;                    <i class="fa fa-search"></i>&ndash;&gt;-->
    <!--                    <div class="col-md-8">-->
    <!--                        <input type="text" class="form-control" name="query" value="{{query}}"-->
    <!--                               placeholder="Job title, keywords,organization or location">-->

    <!--                    </div>-->
    <!--                    <div class="col-md-2">-->
    <!--                        <button class="btn btn-primary" style="width:110px">Search</button>-->
    <!--                    </div>-->


    <!--                </div>-->
    <!--            </form>-->
    <!--        </div>-->

    <!--    </div>-->


    {% if jobs%}
    <div class="row p-2 mt-2 justify-content-center align-items-center">
        <div class="col-lg-6 ">
            <form action="/search/">
                <div class="p-1 bg-light rounded rounded-pill shadow-sm">
                    <div class="input-group">
                        <input style="border-radius: 30px;" type="search" name="query" value="{{query}}"
                               placeholder="Finance jobs in Hargeisa"
                               aria-describedby="button-addon1" class="form-control border-0 bg-light">
                        <div class="">
                            <button type="submit" class="btn btn-link text-primary"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- End -->


        </div>
    </div>
    <div class="row  p-3">
        <hr>
        <div class="col-md-4">
            <div class="card bg-dark mb-3" style="background-color:#41464b !important">
                <div class="card-header" style="border-bottom: 1px solid #f8f9fa">
                    <p class="font-weight-light text-white">Get new jobs for this search "{{query}}" by email</p>
                </div>

                <div class="card-body">
                    <form method="POST" action="/subscribe">
                        <!--                        <div class="mb-3">-->
                        <!--                            <label>Name</label>-->
                        <!--                            <input type="text" required class="form-control" name="name" value="{{name}}"-->
                        <!--                                   placeholder="name">-->
                        <!--                        </div>-->
                        <div class="mb-3">
                            <input type="text" required placeholder="email address" name="email" value="{{email}}"
                                   class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="hidden" required placeholder="write a summary" value="{{query}}"
                                   name="job_description" class="form-control">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn bg-warning text-white form-control"
                                    style="background-color: #ff8007!important ;font-weight:bold" ;>Send me new jobs
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <!--            <div class="card">-->
            <!--                <div class="list border-bottom">-->
            <!--                    <div class="d-flex flex-column ml-3"> <span>Client communication policy</span> <small>#politics - may - @max</small> </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <p class="text-muted">{{jobs|length}} jobs found</p>-->
            {% for job in jobs%}
            <a class="" href={{job.url}} style="text-decoration:none;" target="_blank">
                <div class="card">
                    <div class="list border-bottom">
                        <div class="d-flex flex-column ml-3"><span>{{job.title}}</span>
                            {% if job.days_since_posted == 0 %}
                            <span class="text-muted"><small><i class=""></i> today </small></span>
                            {% elif job.days_since_posted ==1%}
                            <span class="text-muted"><small><i
                                    class=""></i> {{job.days_since_posted}} day ago</small></span>
                            {% else %}
                            <span class="text-muted"><small><i
                                    class=""></i> {{job.days_since_posted}} days ago</small></span>
                            {%endif%}
                            <!--                             <span><small>{{job.posted_date}}</small></span>-->
                            <!--                              <span><small>{{job.organization}}</small></span>-->
                        </div>
                        <!--                        <p class="card-title">{{job.title}}</p>-->
                        <!--                        <p class="card-subtitle mb-2 text-muted">{{job.source}}</p>-->
                        <!--                        <p class="card-subtitle mb-2 text-muted">{{job.posted_date}}</p>-->
                        <!--                        <p class="card-subtitle mb-2 text-muted">{{job.organization}}</p>-->
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        {% elif query%}
<!--        <hr>-->

        <div class="col-md-6 p-5">
            <p class="text-muted"> The search <strong>{{query}}</strong> did not match any jobs</p>
            <ul>
                <li>Try more general keywords</li>
                <li>Check your spelling</li>
                <li>Replace abbreviations with full words</li>
            </ul>
        </div>
        {% else %}
        <div class="row p-3" style="background-color: rgb(236, 237, 232)">
    <hr>
    <div class="">
        <div class="row">
            <div class="col-sm mb-2">
                <div class="card">
                    <h6 class="card-subtitle  text-muted">New Jobs Alert! Why spend hours searching through job boards
                        when you can receive daily alerts? </h6>
                    <p class="card-body small ">

                        Navigating multiple career websites and job
                        boards to check all new job postings can be exhausting. Save your time and create variety by
                        subscribing to Diractly's email job alert service. Diractly will get every single new job across
                        multiple job boards, filter out the noise and send you an alert with just the jobs that match
                        your custom search!<br>

                        → All career types - full time/part time/contract/freelance (for individuals and creative
                        agencies)<br>

                        → 7 days a week – whatever your schedule require, we
                        have it covered</p>
                </div>


            </div>

            <div class="col-sm mb-2">
                <div class="card">
                    <img class="img-fluid " src="{{ url_for('static', path='imgs/diractly_alert.png')}}"
                         alt=""/>
                </div>


            </div>
            <div class="col-sm">
                <div class="card">
                    <h6 class="card-subtitle  text-muted">Get daily job alerts about new jobs in your area</h6>
                    <p class="small card-body">

                        → Saves you time in finding new jobs via email<br>

                        → find the latest job postings from multiple sources from one place<br>

                        → Customise alerts based on your search criteria </p>
                </div>

            </div>

        </div>
        <!--    <div class="container">-->
        <!--        <div class="col-lg-4">-->
        <!--            <h5 class="mb-4">Save time and effort</h5>-->
        <!--            <p class="small ">Spare yourself from the trouble of having to regularly browse job boards-->
        <!--                and career pages to check new job postings,-->
        <!--                Diractly will do the hard work of job hunting for you-->
        <!--                and email a daily digest of new jobs that match your saved job alert..</p>-->

        <!--        </div>-->
        <!--        <div class="col-lg-4">-->
        <!--            <h5 class="mb-4">Save time and effort</h5>-->
        <!--            <p class="small ">Spare yourself from the trouble of having to regularly browse job boards-->
        <!--                and career pages to check new job postings,-->
        <!--                Diractly will do the hard work of job hunting for you-->
        <!--                and email a daily digest of new jobs that match your saved job alert..</p>-->

        <!--        </div>-->
        <!--        <div class="col-lg-4">-->
        <!--            <h5 class="mb-4">Save time and effort</h5>-->
        <!--            <p class="small ">Spare yourself from the trouble of having to regularly browse job boards-->
        <!--                and career pages to check new job postings,-->
        <!--                Diractly will do the hard work of job hunting for you-->
        <!--                and email a daily digest of new jobs that match your saved job alert..</p>-->

        <!--        </div>-->

        <!--    </div>-->


    </div>
</div>

        <div class="row my-5">
            <div class="col text-center">
                <div class="mb-5">
                    <div class="">
                        <h6 class="mb-4 lead">Popular job posting sites and career pages crawled by the service</h6>
                    </div>
                    <br>
                    <div class="row justify-content-center">

                        <div class="col-md-2">
                            <img class="" src="{{ url_for('static', path='imgs/reliefweb.png') }}" alt="">

                        </div>

                        <div class="col-md-2">
                            <img class="" src="{{ url_for('static', path='imgs/somalijobs.png')}}" alt="">
                        </div>
                        <!--                        <div class="col-md-3">-->
                        <!--                            <img class="" src="{{ url_for('static', path='imgs/unjobs.jpg') }}" alt="">-->
                        <!--                        </div>-->
                        <div class="col-md-2">
                            <img class="img-fluid" src="{{ url_for('static', path='imgs/stc.png') }}" alt="">
                        </div>
                        <div class="col-md-2">
                            <img class="" src="{{ url_for('static', path='imgs/UNjobs.png') }}" alt="">

                        </div>

                        <!--                        <div class="col-md-2">-->
                        <!--&lt;!&ndash;                            <img class="" src="{{ url_for('static', path='imgs/irc_1.jpg') }}" alt="">&ndash;&gt;-->

                        <!--                        </div>-->
                        <!--                        <div class="col-md-2">-->
                        <!--                            <img class="img-fluid" src="{{ url_for('static', path='imgs/unicef.jpg') }}" alt="">-->
                        <!--                        </div>-->

                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!--        <div class="row my-5 justify-content-center"></div>-->
        <!--         <div class="row my-5 justify-content-center"></div>-->

    </div>

</div>
<!--<footer class="text-center text-lg-start bg-light text-muted">-->


<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">-->
<!--        © 2022 Copyright:-->
<!--        <a class="text-reset fw-bold" href="/">somjobsalert</a>-->
<!--    </div>-->
<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--</footer>-->
</div>
{% endblock %}

