{% extends "shared/base.html" %}


{% block title %}
{% if query %}
<title>{{query}}</title>
{% else %}
<title>get new somali jobs delivered to your email everyday</title>
{% endif %}
{% endblock %}

{% block content %}


{% if jobs%}
<div></div>
{% else %}
<div class="position-relative w-100" style="background-color:white">
    <div class="container">
        <div class="row pt-4 pl-1 pr-1">
            <div class="col-lg mb-2">
                <h3 class="font-weight-bold">Keep track of the jobs that interest you without spending hours
                    searching for them</h3>
                <span class="text-muted text-center ">Diractly searches job listings from a variety of Somali
                job posting sites and sends you daily
                email alerts when new jobs matching your criteria are posted online. Don't spend hours searching for a job,
                    let Diractly do the hard work of job hunting for you. It takes less than a minute to set up your job alert</span>
                <!--            <hr>-->
            </div>
            <div class="col-lg-5">
                <div class="text-danger font-weight-bold mb-2">
                    {% for error in errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </div>
                <div class="card p-2" style="background-color:#41464b !important">
                    <div class="card-header" style="border-bottom: 1px solid #f8f9fa">
                        <p class="font-weight-bolder text-white text-center mb-1">Subscribe to our daily job alerts</p>
                        <p class="small font-monospace text-center text-white">Receive latest jobs that match your saved
                            job alert
                            delivered to your inbox everyday</p>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/subscribe">
                            <div class="form-check form-switch mb-2">
                                <input class="form-check-input" type="checkbox" id="switch-id" name="is_all"
                                       style="height: 1.35rem;width: calc(2rem + 0.80rem);border-radius: 3rem;">
                                <label class="form-check-label fw-normal text-white pl-3 pt-0" for="switch-id">Send all
                                    new jobs to my email</label>
                                <p class="small font-monospace text-white all-jobs pl-3 ">Select this option to get all
                                    new jobs delivered to your inbox </p>
                            </div>
                            <div class="mb-3">
                                <input type="text-area"
                                       placeholder="job-title, keyword, organization or location"
                                       value="{{job_description}}" name="job_description"
                                       class="form-control job-description">
                            </div>
                            <div class="mb-3">
                                <input type="text" required placeholder="email" name="email" value="{{email}}"
                                       class="form-control">
                            </div>
                            <button style="background-color: #ff8007!important ;font-weight:bold" type="submit"
                                    class="btn bg-warning text-white form-control ">Subscribe
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="row p-5">
            <h2 class="text-center pb-4">Why set up job alerts?</h2>
            <div class="col-lg-3">
                <!--                  <i class="fa-thin fa-envelope"></i>-->
                <h6 class="text-center font-weight-bold pb-1">Get jobs straight to your email</h6>
                <p class="text-center">Keep up to date with the latest jobs matching your criteria</p>
            </div>
            <div class="col-lg-3">
                <h6 class="text-center font-weight-bold pb-1">Jobs from multiple sources</h6>
                <p class="text-center">Get latest job postings from multiple Somali job posting sites in one place</p>

            </div>
            <div class="col-lg-3">
                <h6 class="text-center font-weight-bold pb-1">Quick & easy setup</h6>
                <p class="text-center">It takes less than one minute to create a job alert on Diractly. You can update
                    your alerts anytime </p>

            </div>
            <div class="col-lg-3">
                <h6 class="text-center font-weight-bold pb-1">Be the first to apply</h6>
                <p class="text-center">Know about the best opportunities before anyone else. Save time and effort, find
                    jobs faster!</p>

            </div>

        </div>
        <div class="row p-5">
            <div class="text-center">
                <h5 class="text-muted">Popular job posting sites and career pages crawled by the service</h5>
                <br>
                <div class="row justify-content-center">
                    <a class="col-sm-2 mb-2" href="https://www.somalijobs.com" target="_blank">
                        <img alt="" class="" src="{{ url_for('static', path='imgs/somalijobs.png') }}">
                    </a>
                    <a class="col-sm-2 mb-2" href="https://qaranjobs.com/" target="_blank">
                        <img alt="" class="img-fluid" src="{{ url_for('static', path='imgs/qaran.png') }}">
                    </a>
                    <a class="col-sm-2 mb-2" href="https://reliefweb.int/jobs" target="_blank">
                        <img alt="" class="" src="{{ url_for('static', path='imgs/reliefweb.png') }}">
                    </a>
                    <a class="col-sm-2" href="https://www.impactpool.org/search?q=&countries%5B%5D=Somalia" target="_blank">
                        <img alt="" class="" src="{{ url_for('static', path='imgs/impactpool.png') }}">
                    </a>
                    <a class="col-sm-2  mb-2" href="https://unjobs.org/duty_stations/somalia" target="_blank">
                        <img alt="" class="" src="{{ url_for('static', path='imgs/unjobs.png') }}">
                    </a>
                </div>
            </div>
        </div>
        <div class="row p-5 justify-content-center align-items-center">
            <hr>
            <h4 class="text-muted text-center pt-2">Set up your job alert from a custom search</h4>
            <span class="text-muted text-center  pt-2">Use job title, industry, keywords,organization or location to search jobs and set up daily job alerts based on your search</span>
            <div class="col-lg-8">
                <div class="mt-3">
                    <div class="">
                        <form action="/search/" class="row g-2 justify-content-center">
                            <div class="col-sm-6">
                                <input type="search" name="query" value="{{query}}" class="form-control"
                                       placeholder="title, keyword, organization">
                            </div>
                            <div class="col-sm-2">
                                <button id="submit_search" style="background-color: #ff8007!important" type="submit"
                                        class="btn btn-primary font-weight-bold form-control mb-3 border-0">Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        {% if common_orgs %}
        <div class="row p-5 pt-3 justify-content-center align-items-center">
<!--            <hr>-->
            <h4 class="text-muted text-center"> New job alerts from organizations you follow</h4>
            {% set all = common_orgs + more_orgs %}
            <span class="text-muted text-center pt-2">Follow from a curated selection of organizations to get started and receive job alerts for the new jobs they advertise </span>
            <div class="col-lg-8 pt-2">
                <form action="/follow" , method="POST">
                    <div class="mt-3">
                        <div class="checkbox-block">
                            {% for org in common_orgs %}
                            <div class="btn btn-outline-primary rounded-pill mx-sm-2 mb-2">
                                <label for="{{org}}" role="button" class="mb-0">
                                    {{org}}
                                    <!--                                    <span><i class="fad fa-plus fa-lg"></i></span> -->
                                </label>
                                <input name="org" id="{{org}}" style="display:none"
                                       type="checkbox" value="{{org}}">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mt-2 float-right">
                        <a class="text-decoration-none" data-bs-toggle="collapse" href="#seeMore" role="button"
                           aria-expanded="false" aria-controls="seeMore">
                            See more ...
                        </a>
                    </div>
                    <div class="collapse mt-4" id="seeMore">
                        <div class="">
                            <div class="checkbox-block">
                                {% for org_ in more_orgs %}
                                <div class="btn btn-outline-primary rounded-pill mx-sm-2 mb-2">
                                    <label for="{{org_}}" role="button" class="mb-0">
                                        {{org_}}
                                        <!--                                        <span><i class="fad fa-plus fa-lg"></i></span> -->
                                    </label>
                                    <input name="org" id="{{org_}}" style="display:none"
                                           type="checkbox" value="{{org_}}">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="collapse-org" id="collapseSubscribe">
                        <div class="card card-body">
                            <div class="row g-3 justify-content-center">
                                <div class="tag-list">
                                    <p class="text-muted small">Notify me about jobs posted by these organization(s)</p>
                                    {% for org in all %}
                                    <span class="badge bg-success rounded-pill" data-id="{{org}}" role="button">
                                    {{org}}
                                        <!--                                        <i class="fa-thin fa-x"></i>-->
                                    </span>
                                    {% endfor %}

                                </div>
                                <div class="col-sm-7">
                                    <input type="text" required class="form-control" id="email-address"
                                           placeholder="email" name="email">
                                </div>
                                <div class="col-sm-2">
                                    <button style="background-color: #ff8007!important"
                                            type="submit"
                                            class="btn btn-primary font-weight-bold form-control mb-3 border-0">
                                        Subscribe
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}



    </div>
</div>
{% endif %}
<div class="">
    {% if jobs%}
    <div class="row p-4 mt-2 justify-content-center align-items-center">
        <div class="col-lg-6 ">
            <form action="/search/">
                <div class="p-1 bg-light rounded rounded-pill shadow-sm">
                    <div class="input-group">
                        <input aria-describedby="button-addon1" class="form-control border-0 bg-light" name="query"
                               placeholder="title, keyword, organization"
                               style="border-radius: 30px;"
                               type="search" value="{{query}}">
                        <div class="">
                            <button class="btn btn-link text-primary" type="submit"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- End -->
        </div>
    </div>
    <div class="row p-3">
        <hr>
        <div class="col-md-4">
            <div class="card bg-dark mb-3" style="background-color:#41464b !important">
                <div class="card-header" style="border-bottom: 1px solid #f8f9fa">
                    <p class="font-weight-light text-white">Get new jobs for this search "{{query}}" by email</p>
                </div>

                <div class="card-body">
                    <form action="/subscribe" method="POST">
                        <div class="mb-3">
                            <input class="form-control" name="email" placeholder="email address" required type="text"
                                   value="{{email}}">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" name="job_description" placeholder="write a summary" required
                                   type="hidden" value="{{query}}">
                        </div>
                        <div class="mb-3">
                            <button ; class="btn bg-warning text-white form-control"
                                    style="background-color: #ff8007!important ;font-weight:bold" type="submit">Send me
                                new jobs
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <!--            <p class="text-muted">{{jobs|length}} jobs found</p>-->
            {% for job in jobs%}
            <a class="" href={{job.url}} style="text-decoration:none;" target="_blank">
                <div class="card">
                    <div class="list border-bottom">
                        <div class="d-flex flex-column ml-3"><span>{{job.title}}</span>
                            {% if job.days_since_posted == 0 %}
                            <span class="text-muted"><small><i class=""></i> today </small></span>
                            {% elif job.days_since_posted ==1%}
                            <span class="text-muted"><small><i
                                    class=""></i> {{job.days_since_posted}} day ago</small></span>
                            {% else %}
                            <span class="text-muted"><small><i
                                    class=""></i> {{job.days_since_posted}} days ago</small></span>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        {% elif query %}
        <!--        <hr>-->
        <div class="col-md-6 p-5">
            <p class="text-muted"> The search <strong>{{query}}</strong> did not match any jobs</p>
            <ul>
                <li>Try more general keywords</li>
                <li>Check your spelling</li>
                <li>Replace abbreviations with full words</li>
            </ul>
        </div>
        <div></div>
        {% endif %}
    </div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function () {
  var count_checked = $('.checkbox-block').find('input:checkbox:checked').length;
  console.log(count_checked)

  // If none are checked
  if (count_checked == 0)  {
    $(".tag-list span").hide();
    $(".collapse-org").hide()
  }

  // On change - checkboxes
  $('.checkbox-block').find('input:checkbox').change(function () {
    if ($('.checkbox-block').find('input:checkbox:checked').length) {
      $('.tag-list span').hide();


      $('.checkbox-block').find('input:checkbox:checked').each(function () {
        $('.tag-list span[data-id="' + $(this).attr('id') + '"]').show();
        $(".collapse-org").show();
        });

    // If none are checked
    } else if(count_checked == 0) {
      $(".tag-list span").hide();
       $(".collapse-org").hide();
       }
  });


  $('.tag-list').find('span').click(function () {

    //Find matching checkbox and uncheck it
    $('.checkbox-block').find('input:checkbox:checked[id=' + $(this).attr('data-id') + ']').prop("checked", false);

    // Hide tag...
    //$(this).hide();
    });
});


$(function () {
        $("#switch-id").change(function () {
            if ($(this).is(":checked")) {
                $(".job-description").val('')
                $(".job-description").hide()

                }

             else {
                $(".job-description").show();
<!--
                }


        });
    });


<!--$('#submit_search').on('submit', function() {-->
<!--    console.log(data)-->
<!--    function searchResults(){-->
<!--        $.ajax({-->
<!--            url:"/search/",-->
<!--            type:"GET",-->
<!--            dataType:"json",-->
<!--            success: function(data){-->
<!--                 console.log("success");-->
<!--&lt;!&ndash;                $(search_results).replaceWith(data);&ndash;&gt;-->
<!--            },-->
<!--            error: function() {-->
<!--                console.log("error", data);-->
<!--                alert('error loading from database...');-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--});-->








</script>
{% endblock %}

