.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 47px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.subscribe input {
    height: 50px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
<!--    border: 2px solid blue-->
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;

}

.alert {

}



.card {
    background-color: #fff;
    padding: 15px;
    border: none
}


.list {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center
}

.border-bottom {
    border-bottom: 2px solid #eee
}

.list i {

}

.list small {
    color: #767373


@media (max-width: 767.98px) {
  .mx-w-100 {
    max-width: 100% !important;
  }
}



