{% extends "shared/base.html" %}


{% block title %}
<title xmlns="http://www.w3.org/1999/html">Create post</title>
{% endblock %}

{% block content %}


<div class='row justify-content-center'>
    <div class="container">
        <div class="col-lg offset-lg-1">
             <div class="text-danger font-weight-bold mb-2">
                    {% for error in errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </div>
            <h4 class="p-2">Create Post</h4>
            <form  method="POST" , action="/create_post">

                <div class="col-md-4 p-2">
                    <input class="form-control" type="text" , placeholder="title of your post"
                           name="org_id"
                           value="{{org.id}}" hidden>
                </div>

                <div class="col-md-4 p-2">
                    <input class="form-control" type="text" , placeholder="title of your post"
                           name="item_title"
                           value="{{item_title}}" required>
                </div>
                <div class="col-md-4 p-2">
                    <input class="form-control" type="text" , placeholder="organization" name="organization"
                           value="{{organization}}">
                </div>
                <div class="form-floating col-md-4 p-2">
                    <select class="form-select" aria-label="Default select example" name="item_type"
                            value="{{item_type}}" id="floatingSelect">
                        <option selected>Select item type</option>
                        <option value="job">job</option>
                        <option value="course">course</option>
                        <option value="event">event</option>
                        <option value="other">other</option>
                    </select>
                     <label for="floatingSelect">type of post you are creating</label>
                </div>

                <div class="col-md-4 p-2">
                    <input class="form-control" type="text" , placeholder="location" name="location"
                           value="{{location}}">
                </div>

                <div class="form-floating col-md-4 p-2">
                    <input class="form-control" type="date" , name="end_date"
                           value="{{end_date}}" id="datetimepicker">
                    <label for="floatingInputValue">closing date if applicable</label>
                </div>

                <div class="col-lg-10 p-2">
                    <h5>Post details</h5>
                    <textarea id="job-details" class="form-control" name="item_details"
                              placeholder="details of the item you are posting" value ="{{item_details}}" ></textarea>
                </div>
                <div class="col-lg-2 p-2 mb-4">
                    <button style="background-color:green!important  ;font-weight:bold" type="submit"
                            class="btn bg-warning text-white form-control">Create Post
                    </button>
                </div>
            </form>
        </div>


    </div>

</div>


<script>
 tinymce.init({
        selector: '#job-details',
        forced_root_block : "",
        entity_encoding: 'raw',
        height : "350"});

</script>

{% endblock %}



