{% extends "shared/base.html" %}


{% block title %}
<title>{{msg}}</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5 p-2 justify-content-center">
        <div class="col-md-4 p-2 text-center">

            {% if msg == 'registration successful' %}
            <div class="alert alert-light" role="alert">
                Thank you for subscribing to Diractly. Verification email has been sent to {{email}}.
                Please check your inbox and verify your email.
                Make sure you check your spam folder as well if you can't find the email in your inbox
            </div>
            {% elif msg == 'verification successful' %}
            <div class="alert alert-light" role="alert">
                Verification successful,
                you will receive new jobs matching your saved criteria in to your email every day
<!--                <strong>Bonus</strong> - Download your free resume template from the email we have just sent you-->
            </div>
            {% elif msg == 'successfully unsubscribed' %}
            <div class="alert alert-light" role="alert">
                You have been successfully unsubscribed from the service. You can always resubscribe
            </div>
            {% elif msg == "successfully updated" %}
            <div class="alert alert-light" role="alert">
                Your job alert has been successfully updated
            </div>
            {% elif msg == "successful follow" %}
            <div class="alert alert-light" role="alert">
                 You're now subscribed to receive alerts for new jobs from
                {% for org in orgs %}
                    <span class="badge badge-pill badge-secondary">{{org}}</span>
                {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-light" role="alert">
                user already verified
            </div>
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}