{% extends "shared/base.html" %}


{% block title %}
<title>{{msg}}</title>
{% endblock %}

{% block content %}
<div class='row justify-content-center'>

    <div class="col-md-6">
        <div id="edit_form">
            <h4 class="text-muted p-2">Complete your profile to get easily discovered by employers</h4>
            <hr>

            <div class=''>
                <form class="row ms-auto" method="POST" , action="/edit">

                    <input type="hidden" name="id" , value="{{user.id}}"></input>
                    <div class="col-sm-6 p-2">
                        <input class="form-control mr-sm-2" type="text" , placeholder="first name" name="first_name"
                               value="{{user.first_name}}">
                    </div>
                    <div class="col-sm-6 p-2">
                        <input class="form-control mr-sm-2" type="text" , placeholder="last name" name="last_name"
                               value="{{user.last_name}}">
                    </div>
                    <div class="col-sm-6 p-2">
                        <input class="form-control mr-sm-2" type="text" , placeholder="current job title"
                               name="job_title" value="{{user.job_title}}">
                    </div>
                    <div class="col-sm-6 p-2">
                        <input class="form-control mr-sm-2" type="text" ,
                               placeholder="highest qualification e.g MSc in Statistics" name="qualification"
                               value="{{user.qualification}}">
                    </div>
                    <div class="col-sm-6 p-2">
                        <select class="form-select" aria-label="Default select example" name="experience"
                                value="{{user.experience}}">
                            {% if user.experience %}
                            <option value="{{user.experience}}" selected>{{user.experience}}</option>
                            {% else %}
                            <option value="{{user.experience}}" selected>Choose how many years of professional
                                experience you have
                            </option>
                            {% endif %}
                            <option value="0-1 year"> 0-1 year</option>
                            <option value="1-3 years"> 1-3 years</option>
                            <option value="3-5 years"> 3-5 years</option>
                            <option value="5-7 years"> 5-7 years</option>
                            <option value="7 -9 years"> 7 -9 years</option>
                            <option value="more than 9 years">more than 9 years</option>
                        </select>
                    </div>
                    <div class="col-sm-6 p-2">
                        <input class="form-control mr-sm-2" type="text" , placeholder="location e.g Hargeisa"
                               name="user_location" value="{{user.user_location}}">

                    </div>

                    <div class="p-2">
                        <input class="form-control mr-sm-2" type="text" ,
                               placeholder="type your skills here separated by comma" name="skills"
                               value="{{user.skills}}">
                    </div>

                    <h5 class="text-muted p-2 mt-2">Get exactly the job alerts you want by adjusting your search
                        terms</h5>
                    <hr>
                    <div class='setting'>
                        <div class='name'>
                            {{user.job_description}}
                        </div>
                        <div class='info'>
                            <div class='switch'>
                                {% if user.is_active %}
                                <input checked data-toggle="toggle" id='touch-enabled' type='checkbox' name="is_active"
                                       value="{{user.is_active}}">
                                {% else %}
                                <input data-toggle="toggle" id='touch-enabled' type='checkbox' name="is_active"
                                       value="{{user.is_active}}">
                                {% endif %}
                                <!--                                   onclick="showPreferences()"-->

                                <label for='touch-enabled'></label>
                            </div>
                            Enable/disable job alert by toggling the switch

                        </div>
                        <br>
                        <div class="name">
                            {% if user.is_all %}
                            <label class="name">
                                Send all new jobs to my email </label>
                            <input type="checkbox" value="{{user.is_all}}" checked name="is_all">
                            {% else %}
                            <label class="name">
                                Send all new jobs to my email </label>
                            <input type="checkbox" value="{{user.is_all}}" name="is_all">
                            {% endif %}
                        </div>
                        <p class="info">Selecting this option will ignore your search term and you will instead receive
                            all new jobs posted recently </p>
                    </div>

                    <!--                    <hr class="my-4">-->
                    <div class="user-preferences" id="preferences">
                        <div class='setting'>
                            <div class='name'>
                                Update search term
                            </div>
                            <div class='info'>
                                Update your job alert and save your changes
                            </div>
                            <br>
                            <div>
                                <div class="form-group">
                                    <input type="text-area"
                                           placeholder="job title, keyword, organization or location"
                                           value="{{user.job_description}}" name="job_description" class="form-control">
                                    <br>


                                    {% if user.follows and user.follows[0] %}
                                    <div class="">
                                        <div class="name">Update following</div>
                                        <div class="info mb-2">Uncheck to unfollow organization
                                        </div>

                                        {% for org in user.follows %}
                                        <label for="{{org}}" role="button" class="small mb-0">
                                            {{org}} </label>
                                        <input id={{org}} type="checkbox" name="follows" , value="{{org}}" checked><br>
                                        {% endfor %}
                                        <input id="" type="checkbox" name="follows" , value="" hidden checked>
                                    </div>
                                    {% else %}
                                    <input id="" type="checkbox" name="follows" , value="" hidden checked>
                                    {% endif %}
                                    <!--                                <div class="name">Update frequency</div>-->
                                    <!--                                <div class="info">Default frequency is "Daily" toggle the switch to make it weekly</div>-->
                                    <!--                                <br>-->
                                    <!--                                <div class="form-check form-switch">-->
                                    <!--                                    {% if user.frequency == 'Weekly' %}-->
                                    <!--                                     <input  data-toggle="toggle" data-onstyle="success" id='touch-enabled'-->
                                    <!--                                           value="true" class="form-check-input" type="checkbox"-->
                                    <!--                                            name ='frequency' checked>-->
                                    <!--                                    {% else %}-->
                                    <!--                                    <input  data-toggle="toggle" data-onstyle="success" id='touch-enabled'-->
                                    <!--                                           value="true" class="form-check-input" type="checkbox"-->
                                    <!--                                            name ='frequency'>-->
                                    <!--                                    {% endif %}-->
                                    <!--                                    <label class="form-check-label" for="flexSwitchCheckDefault">Weekly</label>-->
                                    <!--                                </div>-->


                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <!--                                    <input class="btn btn-secondary" type="reset" value="Cancel">-->
                                        <input class="btn btn-primary" type="submit" , value="Save changes">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>
<script>
  function showPreferences() {
  // Get the checkbox
  var checkBox = document.getElementById("touch-enabled");
  // Get the output text
  var text = document.getElementById("preferences");

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
    text.style.display = "none";
  }
}


<!--$( "form" ).on( "submit", function(e) {-->

<!--    var dataString = $(this).serialize();-->

<!--&lt;!&ndash;    alert(dataString); return false;&ndash;&gt;-->

<!--    $.ajax({-->
<!--      type: "POST",-->
<!--      url: "/edit",-->
<!--      data: dataString,-->
<!--      success: function () {-->
<!--        $("#edit_form").html("<div id='message'></div>");-->
<!--        $("#message")-->
<!--          .html("<h2>Contact Form Submitted!</h2>")-->
<!--          .append("<p>We will be in touch soon.</p>")-->
<!--          .hide()-->
<!--          .fadeIn(1500, function () {-->
<!--            $("#message").append(-->
<!--              "<img id='checkmark' src='images/check.png' />"-->
<!--            );-->
<!--          });-->
<!--      }-->
<!--    });-->

<!--    e.preventDefault();-->

<!--});-->
















</script>
{% endblock %}






